[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/soffes/sstoolkit.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/xcconfigs"]
	path = Vendor/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Vendor/Mantle"]
	path = Vendor/Mantle
	url = https://github.com/github/Mantle.git
[submodule "Vendor/Hpple"]
	path = Vendor/Hpple
	url = https://github.com/topfunky/hpple.git
